{% extends 'base.html' %}

{% block content %}
  <h1>Clases Disponibles</h1>
  {% for clase in clases %}
    <div>
      <p><strong>Nombre:</strong> {{ clase.nombre }}</p>
      <p><strong>Fecha:</strong> {{ clase.fecha }}</p>
      <p><strong>Hora:</strong> {{ clase.hora }}</p>
      <p><strong>Instructor:</strong> {{ clase.instructor }}</p>
      <p><strong>Descripción:</strong> {{ clase.descripcion }}</p>
      <form method="post" action="{% url 'usuarios:reservar_clase' clase.id %}">
        {% csrf_token %}
        <button type="submit">Reservar esta clase</button>
      </form>
    </div>
    <hr>
  {% endfor %}
{% endblock %}


